<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flexbox">
    <ion-text color="secondary">
      <h1 class="center-text">Log into The Running <br /><i>Programme.</i></h1>
    </ion-text>
    <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="this.loginForm">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>
      <span
        class="error"
        *ngIf="errorControl.username.touched && errorControl.username.errors?.required"
      >
        Username is required.
      </span>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          required
        ></ion-input>
      </ion-item>
      <span
        class="error"
        *ngIf="errorControl.password.touched && errorControl.password.errors?.required"
      >
        Password is required.
      </span>

      <div class="break"></div>

      <div class="center-text">
        <ion-button color="light" type="submit">LOGIN</ion-button>
      </div>
    </form>

    <div class="break"></div>
    <div class="note">Not yet a member of The Running Programme?</div>
    <div class="break"></div>
    <div class="note" routerLink="register">
      <ion-text color="success">Join us here.</ion-text>
    </div>
  </div>
</ion-content>
