ion-list {
  width: 100%;
}

ion-item-divider {
  margin-bottom: 1rem;
}

.completed {
  color: var(--ion-color-success);
}

.upcoming {
  --ion-item-background: #efefef;
}

.aside {
  display: flex;
  justify-content: space-between;
}
