<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flexbox" *ngIf="!isLoading">
    <ion-text color="secondary">
      <h1 class="center-text">{{exercise.name}}</h1>
    </ion-text>

    <div class="flexbox">
      Currently achieving
      <ion-text color="primary">
        &nbsp;{{exercise.currentMinutes}}m
        {{exercise.currentSeconds}}s.</ion-text
      >

      Expected to hit goal of
      <ion-text color="success">
        &nbsp;{{exercise.goalMinutes}}m {{exercise.goalSeconds}}</ion-text
      >
      &nbsp;by&nbsp;
      <ion-text color="primary">{{ exercise.goalDate| date}}.&nbsp;</ion-text>

      Your goal is to train<ion-text color="primary"
        >&nbsp;{{exercise.frequency}} times</ion-text
      >
      per week and reach your goal by
      <ion-text color="primary">{{exercise.goalDate| date:'longDate'}}</ion-text
      >.
    </div>
    <ion-item-divider mode="md"></ion-item-divider>

    <ion-button color="success" (click)="startExercise()">START</ion-button>
    <div class="break"></div>
    <ion-text color="secondary">
      <h3 class="center-text">Your upcoming trainings</h3>
    </ion-text>
    <ion-list>
      <ion-item *ngFor="let plan of exercise.plans">
        <ion-label>{{plan.date | date:'longDate'}}</ion-label>
        <p>
          Goal:
          <ion-text color="secondary">{{plan.time | minuteSeconds }}</ion-text>
        </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
