<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flexbox">
    <ion-text color="secondary">
      <h1 class="center-text">1000m run exercise</h1>
    </ion-text>

    Your goal is to train<ion-text color="primary">&nbsp;5 times</ion-text> per
    week and reach your goal by
    <ion-text color="primary">{{tempDate | date:'longDate'}}</ion-text>.

    <ion-item-divider></ion-item-divider>

    <div class="break"></div>
    <ion-text color="secondary">
      <h3 class="center-text">Your upcoming trainings</h3>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-label>{{tempDate | date:'longDate'}}</ion-label>
        <p>Goal: <ion-text color="secondary">1m 33s</ion-text></p>
      </ion-item>
      <ion-item>
        <ion-label>{{tempDate | date:'longDate'}}</ion-label>
        <p>Goal: <ion-text color="secondary">1m 30s</ion-text></p>
      </ion-item>
      <ion-item>
        <ion-label>{{tempDate | date:'longDate'}}</ion-label>
        <p>Goal: <ion-text color="secondary">1m 24s</ion-text></p>
      </ion-item>
    </ion-list>

    <ion-button color="success" (click)="startExercise()">START</ion-button>
  </div>
</ion-content>
