.center-text {
  text-align: center;
}

.top-margin {
  margin-top: 5rem;
}

.left-margin {
  margin-left: 1rem;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.break {
  height: 0;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.big-text {
  font-size: 2.5rem;
}

.wide {
  width: 90%;
}

.note {
  color: #dcdcdc;
  font-size: 0.75rem;
  font-style: italic;
}
