<ion-card>
  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
    <ion-card-subtitle [innerHTML]="subtitle"></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content [innerHTML]="content"> </ion-card-content>

  <div class="right">
    <ion-button
      color="success"
      fill="clear"
      (click)="buttonClick(confirmButton)"
      >{{ confirmButton }}</ion-button
    >
    <ion-button
      color="danger"
      fill="clear"
      (click)="buttonClick(cancelButton)"
      >{{ cancelButton }}</ion-button
    >
  </div>
</ion-card>
