<ion-header>
  <ion-toolbar>
    <ion-title>My Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isLoading">
    <ion-item
      *ngFor="let exercise of exercises"
      (click)="openExercise(exercise.id)"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{exercise.name}}</h2>
        <h3>
          Currently achieving
          <ion-text color="primary"
            >{{exercise.currentMinutes}}m {{exercise.currentSeconds}}s</ion-text
          >
        </h3>
        <p>
          Expected to hit goal of
          <ion-text color="success"
            >{{exercise.goalMinutes}}m {{exercise.goalSeconds | number :
            '1.2-2'}}s</ion-text
          >
          by
          <ion-text color="primary">{{ exercise.goalDate| date}}</ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add-outline" (click)="addExercise()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
